* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}


body {
  font-size: 1em;
  height: 100vh;
  background-color: #e3edf7;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.skill {
  width: 160px;
  height: 160px;
  /* background-color: cornflowerblue; */

  position: relative;
}

.outer {
  padding: 20px;
  /* transform: translateX(2px) */
  height: 160px;
  width: 160px;
  border-radius: 50%;

  position: relative;

  /* border: 14px solid mintcream; */
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 10px solid darkblue; */
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -.5px -.5px 0px rgba(255, 255, 255, 1),
    .5px .5px 0px rgba(255, 255, 255, .15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight: 600;
  color: #555;
  font-size: 1.3rem;
}

circle{
  animation: animate 200ms linear forwards;
}


img[src="svg.svg"], svg{
  position:absolute;
  top: 0;
  left:0;
}



@keyframes animate{

  100%{
    stroke-dashoffset: 165;
  }
}